body{
 font-family:Arial;
 margin:0;
 background:#f4f6f8;
}

header{
 background:#0d47a1;
 color:white;
 padding:20px;
 text-align:center;
}

.badge{
 display:flex;
 justify-content:center;
 align-items:center;
 gap:10px;
 font-size:14px;
}

.badge img{
 width:40px;
}

nav{
 background:#333;
 padding:10px;
 text-align:center;
}

nav a{
 color:white;
 margin:10px;
 text-decoration:none;
 font-weight:bold;
}

.container{
 padding:20px;
 max-width:800px;
 margin:auto;
}

input,button{
 width:100%;
 padding:12px;
 margin:10px 0;
 font-size:16px;
}

ul{
 list-style:none;
 padding:0;
}

li{
 background:white;
 padding:15px;
 margin:8px 0;
 border-radius:6px;
}

.pay-btn{
 display:block;
 background:green;
 color:white;
 text-align:center;
 padding:15px;
 font-size:18px;
 text-decoration:none;
 border-radius:8px;
}

footer{
 text-align:center;
 padding:15px;
 color:#555;
}
